<h1>Posts</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Overtime Requested</th>
      <th scope="col">Date</th>
      <th scope="col">User</th>
      <th scope="col">Rationale</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody id="posts">
    <%= render @posts %>
  </tbody>
</table>

<div id="paginator">
  <%= paginate @posts, remote: true %>
</div>
